@import "vars";
@import "positions";



.center {
  @include center_content($width);
}

%column_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

%flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*
  min-height: -webkit-fill-available;
   */
}

html {
  /*
   min-height: -webkit-fill-available;
   */
  scroll-behavior: smooth;
}

main {
  flex: 1;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

summary {
  display: block;
}
summary::-webkit-details-marker {
  display: none;
}

.main {
  @extend %column_center
}

.random-section {
  @extend %column_center;
  margin-top: 20px;
  width: 100%;
}

.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  height: $height;
  overflow: hidden;
  &__img {
    height: 100%;
    width: auto;
  }
}

.author {
  margin-bottom: 15px;
}

.buttons {
  @extend %flex_center;
  gap: 40px;
  &__button {
    color: black;
    transition: all 0.3s;
  }
  &__button:hover {
    color: rgba(42,42,42,0.44);
  }
}

.next {
  font-size: 24px;
}

.like {
  font-size: 20px;
}

.back {
  font-size: 24px;
  margin-bottom: 40px;
}

.favorite-list {
  font-size: 24px;
}

.favorite-section {
  @extend %column_center;
  margin-top: 20px;
  &__title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .favorites {
    @extend %column_center;
    gap: 40px;
    margin-bottom: 40px;
  }

  .favorite {
    @extend %column_center;
    gap: 5px;
  }
}