@import "vars";
@import "positions";


%column_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

%column_end {
  display: flex;
  flex-direction: column;
  align-items: end;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*
  min-height: -webkit-fill-available;
   */
}

html {
  /*
   min-height: -webkit-fill-available;
   */
  scroll-behavior: smooth;
}

main {
  flex: 1;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.center_full {
  @include center_content($fullWidth);
}

.main {
  @extend %column_center
}

table {
  width: 800px;
  border-top: 1px solid rgb(43, 129, 17);
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
}

td {
  text-align: center;
  padding: 10px;
  border: 1px solid rgb(43, 129, 17);
}
th {
  text-align: center;
  padding: 10px;
  border: 1px solid rgb(43, 129, 17);
}

caption {
  font-size: 25px;
}

.add-btn {
  margin-left: 20px;
  padding: 0.05rem 1rem;
  margin-bottom: 10px;
}

.cancel-btn {
  margin-left: 20px;
  padding: 0.05rem 1rem;
}




