$fullWidth: 1600px;
$baseWidth: 1140px;
$baseBackgroundColor: #ffffff;
$baseContentColor: #222222;
$baseSelectColor: #f16d7f;
$baseItemBackgroundColor: #e6e6e6;
$topMenuGap: 43px;
$widthBurgerMenu: -232px;